node_modules
.next
.git
*.md
*.sh
.env*
!.env.example
.gitignore
.prettierignore
.markdownlint.json
.vscode
.husky
.mypy_cache
.pytest_cache
__pycache__
.venv
.next/cache
*.log
.turbo
.tsbuildinfo
jest.config.js
playwright.config.ts
lighthouserc.json
